label {
    display: block;
    margin: 1rem;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    font-weight: 400;
    text-align: center;
}

input {
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 5rem;
    text-align: center;
    border: 1px solid rgb(125, 24, 226);
    outline: none;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
}

